@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Teko:wght@500;600&display=swap');

$main-backgrouh: #fff;
$mineshaft: #353535; 
$jaffa: #f28638;
$pearl: #ebe0d7;
$text-color: #273339;
$teko: "Teko";
$cardwidth:250px;